{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block main %}
    <!-- Main Content Section -->
    <div class="main-content-about">


        <div class="about-container text-left">
            <div class="">
               <img src="{% static 'img/our_team.jpg' %}" alt="Our Team" class="image">
            </div>

            <div class="about__content">
                <h2 class="about__title">
                    Our Team
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, magna sit. Cursus hymenaeos neque integer porttitor facilisis purus urna
                    dictum wisi. Faucibus feugiat. Eget dui, aenean eros luctus cras purus ligula iaculis dapibus suscipit
                    senectus lectus. Maecenas nonummy purus accumsan sodales, vel sociosqu. Taciti ac. Arcu taciti.
                </p>

                <p>
                    Curabitur blandit. Laoreet urna ad porttitor eleifend a ridiculus risus rhoncus euismod. Augue lectus
                    nullam aptent. Curae non dis vestibulum habitant. Lectus nam sapien. Tincidunt scelerisque cras porta
                    vulputate. Pellentesque magnis per.
                </p>
                <p>
                    Habitasse libero est dictumst nulla commodo ad. Netus ultrices class. Vivamus quis. Quam gravida ante
                    pellentesque. Felis, integer pretium laoreet scelerisque lorem erat nonummy duis proin. Ac cubilia
                    primis primis risus dui tellus cubilia imperdiet gravida lectus conubia penatibus nam, elementum
                    integer. Inceptos, primis fusce eros.
                </p>
                <p>
                    Amet nunc venenatis, facilisi vulputate leo. Potenti, habitasse vestibulum dis molestie. Dictum
                    molestie luctus potenti suspendisse varius, amet diam vivamus ullamcorper. Interdum lorem lacus.
                    Quisque cum. Luctus ut posuere tempus dapibus eleifend wisi, praesent purus varius nunc. Hymenaeos
                    pellentesque et dictum.
                </p>
            </div>
        </div>



        <div class="about-container  text-left">
            <div class="">
                <img src="{% static 'img/fair_trade.jpg' %}" alt="Fair Trade" class="image">
            </div>

            <div class="about__content">
                <h2 class="about__title">
                    Fair Trade
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, facilisi lobortis curabitur, nunc quisque. Lobortis taciti vel inceptos
                    varius etiam ornare. Vestibulum pretium etiam vehicula sollicitudin erat fames mattis at morbi
                    curabitur. Accumsan nibh condimentum ullamcorper eros cum neque leo inceptos odio. Facilisis odio
                    tortor non semper commodo dis. Ipsum, nec sapien hymenaeos. Natoque class.
                </p>
                <p>
                    Fringilla interdum quam ultricies. Consectetuer id parturient. Adipiscing placerat dictumst porta
                    pretium class vivamus morbi congue aenean habitant ultrices ipsum. Aenean sed pulvinar magnis luctus.
                    Lectus dolor curabitur taciti imperdiet sociosqu torquent, vivamus lacus posuere. Morbi nascetur.
                    Pede habitant.
                </p>
                <p>
                    Platea ridiculus, ante nostra. Aptent tempus tincidunt non sapien faucibus id. Sagittis aliquet
                    adipiscing quam. Egestas nisl dictumst posuere interdum. Eu sit. Purus commodo aliquet. Feugiat,
                    maecenas id ut.
                </p>
            </div>
        </div>



        <div class="about-container  text-left">
            <div class="">
                <img src="{% static 'img/ou_mission.jpg' %}" alt="Our Mission" class="image">
            </div>

            <div class="about__content">
                <h2 class="about__title">
                    Our Mission
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, pulvinar volutpat. Lorem hendrerit nullam, venenatis ultricies consectetuer
                    mattis. Consectetuer nec amet et dapibus, hymenaeos dolor torquent elementum habitant. Venenatis congue
                    vehicula condimentum consequat eget montes. Vulputate, gravida et. Ut nunc wisi, proin cursus ornare
                    class. Ultrices sed blandit interdum.
                </p>
                <p>
                    Orci purus adipiscing, ultrices dolor. Montes lacinia. Ipsum pede hac feugiat pulvinar adipiscing class
                    nisl ad sapien. Hendrerit sagittis eros vitae placerat sed porta eu euismod nullam. Nisl inceptos.
                    Tempus risus feugiat ornare lacus ante aliquam senectus posuere elementum. Eleifend cras.
                </p>
                <p>
                    Dis pellentesque. Mus, nullam pharetra habitasse sapien nullam sociis pulvinar nullam fermentum. Pede
                    litora. Amet commodo vitae, felis venenatis nulla conubia. Quisque neque tincidunt. Molestie in odio
                    sodales nunc phasellus euismod vulputate gravida curae cursus malesuada, felis faucibus taciti a. Velit
                    auctor augue nec velit mi sodales pretium tortor vel vulputate donec.
                </p>

            </div>
        </div>
    </div>
{% endblock %}