{% extends 'base.html' %}

{% block main %}
      <!-- Main Content Section -->
    <form class="form">
        <div class="contact-container">
            <main>
                <div>
                    <input class="contact-input" type="text" name="name" placeholder="Name">
                </div>
                <div>
                    <input class="contact-input" type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <textarea class="contact-input" name="message" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div>
                    <input class="contact-submit" type="submit" value="Send">
                </div>
            </main>
        </div>
    </form>
{% endblock %}