<!-- post_form.html -->

{% extends "base.html" %}

{% block main %}
  <h1>Create a New Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Title Field -->
    <div class="form-group">
      <label for="id_title"></label>
      {{ form.title.label_tag }}
      {{ form.title }}
      {% if form.title.errors %}
        <div class="text-danger">
          {{ form.title.errors }}
        </div>
      {% endif %}
    </div>

    <!-- Content Field -->
    <div class="form-group">
      <label for="id_content"></label>
      {{ form.content.label_tag }}
      {{ form.content }}
      {% if form.content.errors %}
        <div class="text-danger">
          {{ form.content.errors }}
        </div>
      {% endif %}
    </div>

    <!-- Date Field -->
    <div class="form-group">
      <label for="id_date"></label>
      {{ form.date.label_tag }}
      {{ form.date }}
      {% if form.date.errors %}
        <div class="text-danger">
          {{ form.date.errors }}
        </div>
      {% endif %}
    </div>

    <!-- Image Field -->
    <div class="form-group">
      <label for="id_image">Image:</label>
      {{ form.image.label_tag }}
      {{ form.image }}
      {% if form.image.errors %}
        <div class="text-danger">
          {{ form.image.errors }}
        </div>
      {% endif %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
{% endblock %}
