/* Blog */
.index__blog {
    padding: 1.5rem;
}

@media (min-width: 768px) {
    .index__blog {
        padding: 5rem;
    }
}

@media (min-width: 1023px) {
  .index__post__button{
    width: 20%;
  }
}